* text=auto !eol
/.classpath -text
.externalToolBuilders/Create[!!-~]Distribution.launch -text
.externalToolBuilders/Create[!!-~]Documentation.launch -text
.externalToolBuilders/Deploy[!!-~]Default[!!-~]Config.launch -text svneol=unset#text/plain
/.project -text
.settings/org.eclipse.core.resources.prefs -text svneol=unset#text/plain
/ConfigEditor.bat -text
/ConfigEditor.jnlp -text
/ConfigEditor.sh -text
/SelfIssue.bat -text
/SelfIssue.jnlp -text
/SelfIssue.sh -text
/build-data.properties -text
/build-dirs.properties -text
build-scripts/distribution-builder.xml -text
build-scripts/jar-builder.xml -text
build-scripts/version-builder.xml -text
/build.xml -text svneol=unset#text/plain
/create-distribution.xml -text
/create-documentation.xml -text
/deploy-default-config.xml -text svneol=unset#text/plain
doc/Invocation.txt -text svneol=unset#text/plain
doc/images/commandinterface.png -text
doc/images/logging.png -text
doc/images/modes.png -text
doc/images/selfissue.png -text
doc/images/systems-itemidreaderdevice.png -text
doc/images/systems-itemsecuritydevice.png -text
doc/images/systems-loggers.png -text
doc/images/systems-patronidreaderdevice.png -text
doc/images/systems-printer.png -text
doc/images/systems-sip.png -text
doc/images/systems-spooler.png -text
doc/images/ui-audio.png -text
doc/images/ui-checkinpanel.png -text
doc/images/ui-checkoutpanel.png -text
doc/images/ui-control.png -text
doc/images/ui-messages.png -text
doc/images/ui-palette.png -text
doc/images/ui-patronpanel.png -text
doc/images/ui-selfissue.png -text
doc/images/ui-validation.png -text
doc/images/ui-watchdog.png -text
doc/readme.html -text
/document-configeditor.xsl -text
lib/ceridwen-circulation-2.81/ceridwen-circulation-2.81.jar -text
lib/ceridwen-circulation-2.81/changelog.txt -text
lib/ceridwen-circulation-2.81/license.txt -text
lib/ceridwen-utilities-1.60/ceridwen-utilities-1.60.jar -text
lib/ceridwen-utilities-1.60/changelog.txt -text
lib/ceridwen-utilities-1.60/license.txt -text
lib/commons-beanutils-1.8.3/LICENSE.txt -text
lib/commons-beanutils-1.8.3/NOTICE.txt -text
lib/commons-beanutils-1.8.3/RELEASE-NOTES.txt -text
lib/commons-beanutils-1.8.3/commons-beanutils-1.8.3.jar -text
lib/commons-beanutils-1.8.3/commons-beanutils-bean-collections-1.8.3.jar -text
lib/commons-beanutils-1.8.3/commons-beanutils-core-1.8.3.jar -text
lib/commons-lang3-3.1/LICENSE.txt -text
lib/commons-lang3-3.1/NOTICE.txt -text
lib/commons-lang3-3.1/RELEASE-NOTES.txt -text
lib/commons-lang3-3.1/commons-lang3-3.1.jar -text
lib/commons-logging-1.1.1/LICENSE.txt -text
lib/commons-logging-1.1.1/NOTICE.txt -text
lib/commons-logging-1.1.1/RELEASE-NOTES.txt -text
lib/commons-logging-1.1.1/commons-logging-1.1.1.jar -text
lib/commons-logging-1.1.1/commons-logging-adapters-1.1.1.jar -text
lib/commons-logging-1.1.1/commons-logging-api-1.1.1.jar -text
lib/commons-net-3.1/LICENSE.txt -text
lib/commons-net-3.1/NOTICE.txt -text
lib/commons-net-3.1/RELEASE-NOTES.txt -text
lib/commons-net-3.1/commons-net-3.1.jar -text
lib/jaxfront-2.77/jaxfront-core.jar -text
lib/jaxfront-2.77/jaxfront-swing.jar -text
lib/jaxfront-2.77/licence.txt -text svneol=unset#text/plain
lib/jgoodies-looks-2.5.0/LICENSE.txt -text
lib/jgoodies-looks-2.5.0/README.html -text
lib/jgoodies-looks-2.5.0/RELEASE-NOTES.txt -text
lib/jgoodies-looks-2.5.0/jgoodies-common-1.3.0.jar -text
lib/jgoodies-looks-2.5.0/jgoodies-looks-2.5.0.jar -text
lib/junit-4.10/junit-4.10.jar -text
lib/netx-0.5/LICENSE.txt -text svneol=unset#text/plain
lib/netx-0.5/netx-no-debug.jar -text
lib/netx-0.5/netx.jar -text
lib/xalan-j_2_7_1/LICENSE.txt -text svneol=unset#text/plain
lib/xalan-j_2_7_1/NOTICE.txt -text svneol=unset#text/plain
lib/xalan-j_2_7_1/serializer.jar -text
lib/xalan-j_2_7_1/xalan.jar -text
lib/xalan-j_2_7_1/xercesImpl.jar -text
lib/xalan-j_2_7_1/xml-apis.jar -text
readme/changelog.txt -text svneol=unset#text/plain
readme/license.txt -text svneol=unset#text/plain
res/com/ceridwen/selfissue/client/config/config.xml -text svneol=unset#text/plain
res/com/ceridwen/selfissue/client/images/card.gif -text
res/org/freesound/26034__ashassin__cassrol.wav -text
res/org/freesound/34804___zin___splash_bell_2.wav -text
res/org/freesound/8594__SpeedY__Strum_mute_down.wav -text
res/org/pdclipart/book_stack_of_books_taller_ga_.png -text
res/org/pdclipart/bookcase.png -text
res/org/pdclipart/library_book_cart.png -text
src/com/ceridwen/selfissue/client/SelfIssueClient.java -text
src/com/ceridwen/selfissue/client/SelfIssueFrame.java -text
src/com/ceridwen/selfissue/client/SelfIssueThread.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/SelfIssueThreadGroup.java -text
src/com/ceridwen/selfissue/client/ShutdownThread.java -text
src/com/ceridwen/selfissue/client/config/Configuration.java -text
src/com/ceridwen/selfissue/client/config/Editor.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/config/EncryptionVisualizer.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/config/FileChooser.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/config/FontChooser.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/config/config.xsd -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/config/config.xui -text
src/com/ceridwen/selfissue/client/config/default.xml -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/core/CirculationHandler.java -text
src/com/ceridwen/selfissue/client/core/CirculationHandlerImpl.java -text
src/com/ceridwen/selfissue/client/core/ConnectionFactory.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/core/OutOfOrderInterface.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/devices/FailureException.java -text
src/com/ceridwen/selfissue/client/devices/IDReaderDevice.java -text
src/com/ceridwen/selfissue/client/devices/IDReaderDeviceListener.java -text
src/com/ceridwen/selfissue/client/devices/JavaSmartCardDevice.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/devices/SecurityDevice.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/devices/TimeoutException.java -text
src/com/ceridwen/selfissue/client/dialogs/ErrorDialog.java -text
src/com/ceridwen/selfissue/client/dialogs/PasswordDialog.java -text
src/com/ceridwen/selfissue/client/log/MailLogger.java -text
src/com/ceridwen/selfissue/client/log/MessageComponents.java -text
src/com/ceridwen/selfissue/client/log/OnlineLog.java -text
src/com/ceridwen/selfissue/client/log/OnlineLogDevice.java -text
src/com/ceridwen/selfissue/client/log/OnlineLogEvent.java -text
src/com/ceridwen/selfissue/client/log/OnlineLogLogger.java -text
src/com/ceridwen/selfissue/client/log/OnlineLogManager.java -text
src/com/ceridwen/selfissue/client/log/RESTLogger.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/log/SyslogLogger.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/logging/LoggingHandlerWrapper.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/logging/RESTLoggingHandlerWrapper.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/logging/SMTPLoggingHandlerWrapper.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/logging/SyslogLoggingHandlerWrapper.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/nulldevices/IDReaderDevice.java -text
src/com/ceridwen/selfissue/client/nulldevices/ItemSecurityDevice.java -text svneol=unset#text/plain
src/com/ceridwen/selfissue/client/nulldevices/OnlineLogLogger.java -text
src/com/ceridwen/selfissue/client/panels/CheckInPanel.java -text
src/com/ceridwen/selfissue/client/panels/CheckOutPanel.java -text
src/com/ceridwen/selfissue/client/panels/OutOfOrderPanel.java -text
src/com/ceridwen/selfissue/client/panels/PatronPanel.java -text
src/com/ceridwen/selfissue/client/panels/SelfIssuePanel.java -text
src/com/ceridwen/selfissue/client/panels/SelfIssuePanelEvent.java -text
src/com/ceridwen/selfissue/client/panels/SelfIssuePanelListener.java -text
src/com/ceridwen/selfissue/client/spooler/OfflineSpoolObject.java -text
src/com/ceridwen/selfissue/client/spooler/OfflineSpooler.java -text
src/com/ceridwen/selfissue/client/spooler/OfflineSpoolerDevice.java -text
