* text=auto !eol
/.classpath -text
.externalToolBuilders/Build[!!-~]Distribution.launch -text svneol=unset#text/plain
.externalToolBuilders/Buildnum[!!-~]-[!!-~]SecurityDevice.launch -text svneol=unset#text/plain
.externalToolBuilders/Buildnum[!!-~]-[!!-~]SelfIssue.launch -text svneol=unset#text/plain
/.project -text
/Invocation.txt -text svneol=unset#text/plain
/SelfIssue-package.xml -text svneol=unset#text/plain
/buildnum.xml -text
/encodepassword.jnlp -text
lib/netx-0.5/LICENSE.TXT -text
lib/netx-0.5/netx-no-debug.jar -text
lib/netx-0.5/netx.jar -text
lib/xalan-j_2_7_1/LICENSE.txt -text svneol=unset#text/plain
lib/xalan-j_2_7_1/NOTICE.txt -text svneol=unset#text/plain
lib/xalan-j_2_7_1/readme.html -text svneol=unset#text/plain
lib/xalan-j_2_7_1/serializer.jar -text
lib/xalan-j_2_7_1/xalan.jar -text
lib/xalan-j_2_7_1/xercesImpl.jar -text
lib/xalan-j_2_7_1/xml-apis.jar -text
/license.txt -text svneol=unset#text/plain
/selfissue.jnlp -text
src/com/ceridwen/circulation/security/FailureException.java -text
src/com/ceridwen/circulation/security/SecurityDevice.java -text
src/com/ceridwen/circulation/security/SecurityDevice.num -text
src/com/ceridwen/circulation/security/SecurityListener.java -text
src/com/ceridwen/circulation/security/TimeoutException.java -text
src/com/ceridwen/selfissue/EncodePassword.java -text
src/com/ceridwen/selfissue/client/SelfIssueClient.java -text
src/com/ceridwen/selfissue/client/SelfIssueClient.num -text
src/com/ceridwen/selfissue/client/SelfIssueFrame.java -text
src/com/ceridwen/selfissue/client/SelfIssueThreadGroup.java -text
src/com/ceridwen/selfissue/client/ShutdownThread.java -text
src/com/ceridwen/selfissue/client/config/Configuration.java -text
src/com/ceridwen/selfissue/client/core/CirculationHandler.java -text
src/com/ceridwen/selfissue/client/core/CirculationHandlerImpl.java -text
src/com/ceridwen/selfissue/client/dialogs/ErrorDialog.java -text
src/com/ceridwen/selfissue/client/dialogs/PasswordDialog.java -text
src/com/ceridwen/selfissue/client/log/MailLogger.java -text
src/com/ceridwen/selfissue/client/log/MessageComponents.java -text
src/com/ceridwen/selfissue/client/log/OnlineLog.java -text
src/com/ceridwen/selfissue/client/log/OnlineLogDevice.java -text
src/com/ceridwen/selfissue/client/log/OnlineLogEvent.java -text
src/com/ceridwen/selfissue/client/log/OnlineLogLogger.java -text
src/com/ceridwen/selfissue/client/log/OnlineLogManager.java -text
src/com/ceridwen/selfissue/client/nulldevices/OnlineLogLogger.java -text
src/com/ceridwen/selfissue/client/nulldevices/SecurityDevice.java -text
src/com/ceridwen/selfissue/client/panels/CheckInPanel.java -text
src/com/ceridwen/selfissue/client/panels/CheckOutPanel.java -text
src/com/ceridwen/selfissue/client/panels/OutOfOrderPanel.java -text
src/com/ceridwen/selfissue/client/panels/PatronPanel.java -text
src/com/ceridwen/selfissue/client/panels/SelfIssuePanel.java -text
src/com/ceridwen/selfissue/client/panels/SelfIssuePanelEvent.java -text
src/com/ceridwen/selfissue/client/panels/SelfIssuePanelListener.java -text
src/com/ceridwen/selfissue/client/spooler/OfflineSpoolObject.java -text
src/com/ceridwen/selfissue/client/spooler/OfflineSpooler.java -text
src/com/ceridwen/selfissue/client/spooler/OfflineSpoolerDevice.java -text
